<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>

<body>
    <header id="header"></header>

    <main>
        <header>
            <h1>첫번째 글</h1>
        </header>

        <aside>
            <p><span class="nick-name">Gusdn</span></p>
            <p><a href="mailto:gus5162@naver.com">gusdn@naver.com</a></p>
            <p><time datetime="2022-01-01T00:00:00">2022-01-01</time></p>
            <p>#java</p>
        </aside>
    <section>
        <div>
            <form>
                <label for="articleComment" hidden>댓글</label>
                <textarea id="articleComment" placeholder="댓글 쓰기.." rows="3"></textarea>
                    <button type="submit">쓰기</button>
            </form>

            <ul>
                <li>
                    <div>
                        <time><small>2022-01-01</small></time>
                        <strong>Gusdn</strong>
                        <p>
                            Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,
                            Lorem ipsum dolor sit amet
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <time><small>2022-01-01</small></time>
                        <strong>Gusdn</strong>
                        <p>
                            Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,
                            Lorem ipsum dolor sit amet
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <nav class="page-pagination" role="navigation">
            <a class="page-previos" href="#">이전글</a>
            <a class="page-next" href="#">다음글</a>
        </nav>

    </section>

    </main>



    <footer id="footer"></footer>

</body>
</html>